{% extends 'features/srbase.html'%}
{% block body%}
<h2 style="text-align:center;"><span class="sty" style="font-size:50px;color:black;">Add Stations</span></h2>

body{
            background-image:url('{% static "images/Img/addS.jpg"%}');
            background-size:100%;
            background-repeat:no-repeat;


        }
<form action="" method="post">
    {%csrf_token%}
    Station ID:<input type="text" name="sid">
    Station Name:<input type="text" name="sname">
    <input type="submit" class="btn btn-success">
</form>
{%endblock%}